/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Chấm đang active */
.swiper-pagination-bullet-active {
  background-color: rgba(243, 236, 236, 0.89) !important;
}
.custom-bg-1 {
  background-color: #29343D !important;
}
.x {
          background-color: #29343D !important;
        color: #FFFFFF !important;
}
.custom-bg-2 {
  background-color: rgba(179, 139, 89, 0.6)  !important;
}
/* xám */
.custom-bg-3 {
  background-color: #F0F0F0 !important;
}
.custom-bg-4 {
  background-color: #FEFEFE !important;
}
.text-color-1 {
  color: #29343D !important;
}
.text-color-2 {
  color: #B38B59 !important;
}
.text-color-3 {
  color: #F0F0F0 !important;
}
.text-color-4 {
  color: #FEFEFE !important;
}